<template>
    <div>
        <Row class="expand-row">
            <Col span="16"><span class="expand-value">Source: {{ row.Source }}</span></Col>
            <Col span="16"><span class="expand-value">User: {{ row.User }}</span></Col>
            <Col span="16"><span class="expand-value">Updated_date: {{ row.Updated_date }}</span></Col>
            <Col span="16"><span class="expand-value">Timezone_broker: {{ row.Timezone_broker }}</span></Col>
            <Col span="16"><span class="expand-value">Leverage: {{ row.Leverage }}</span></Col>
            <Col span="16"><span class="expand-value">Equity: {{ row.Equity }}</span></Col>
            <Col span="16"><span class="expand-value">Currency: {{ row.Currency }}</span></Col>
            <Col span="16"><span class="expand-value">Filtered_symbols: {{ row.Filtered_symbols }}</span></Col>
            <Col span="16"><span class="expand-value">Median_hold_hours: {{ row.Median_hold_hours }}</span></Col>
            <Col span="16"><span class="expand-value">Sharpe_ratio: {{ row.Sharpe_ratio }}</span></Col>
            <Col span="16"><span class="expand-value">Recovery_Factor: {{ row.Recovery_Factor }}</span></Col>
            <Col span="16"><span class="expand-value">Gross_profit: {{ row.Gross_profit }}</span></Col>
            <Col span="16"><span class="expand-value">Gross_loss: {{ row.Gross_loss }}</span></Col>
            <Col span="16"><span class="expand-value">Worst_dollar: {{ row.Worst_dollar }}</span></Col>
            <Col span="16"><span class="expand-value">Best_pip: {{ row.Best_pip }}</span></Col>
            <Col span="16"><span class="expand-value">Best_dollor: {{ row.Best_dollor }}</span></Col>
            <Col span="16"><span class="expand-value">Commission: {{ row.Commission }}</span></Col>
            <Col span="16"><span class="expand-value">Swap: {{ row.Swap }}</span></Col>
        </Row>
    </div>
</template>
<script>
    export default {
        props: {
            row: Object
        }
    };
</script>
<style scoped>
    .expand-row{
        margin-bottom: 16px;
    }
</style>