<template>
    <div>
        <h3 style="margin-bottom: 20px;">
            Transactions
        </h3>
        <!-- <Form inline>
            <FormItem>
                <label style="margin: 0 10px;">XXX</label>
                <Input v-model="filter.q" placeholder="" :maxlength="20" style="width: 200px" />
            </FormItem>
            <FormItem>
                <label style="margin: 0 10px;">XXX</label>
                <Select v-model="filter.prdTyp" style="width: 200px;">
                    <Option value="">全部</Option>
                    <Option value="111">111</Option>
                    <Option value="111">222</Option>
                </Select>
            </FormItem>
            <FormItem>
                <label style="margin: 0 10px;">XXX</label>
                <Input v-model="filter.w" placeholder="" :maxlength="20" style="width: 200px" />
            </FormItem>
            <FormItem>
                <Button type="primary" style="margin: 0 10px;" :loading="searchLoading" @click="search(1)">
                    <Icon type="md-search" />
                    查询
                </Button>
            </FormItem>
        </Form> -->
        <div style="text-align: right; margin-bottom: 10px;">
            <Button type="primary" icon="ios-settings" @click="modalColumnsConfig = true">
                Configure
            </Button>
            <Button type="primary" icon="ios-stats" @click="analyze" :disabled="listSelectedList.length == 0">
                Generate Portfolio
            </Button>
            <Button type="primary" icon="md-repeat" v-if="userName == 'XL'" @click="updata" :disabled="listSelectedList.length == 0">
                Update
            </Button>
            <Button type="primary" icon="ios-trash" v-if="userName == 'XL'" @click="deleteData" :disabled="listSelectedList.length == 0">
                Delete
            </Button>
            <Button type="primary" icon="md-add" @click="drawerFlag = true">Add transaction</Button>
        </div>
        <Table stripe  :columns="columns" size="small" @on-sort-change="sortChange" @on-selection-change="selectionListChange" :data="list"></Table>
        <!-- <Page :total="page.totalCount" :current="page.pageNo" :page-size="page.pageSize" @on-change="search" show-elevator style="text-align: center; margin-top: 20px;"/> -->
        <Drawer
            title="Add transaction from sources"
            v-model="drawerFlag"
            width="1100"
            :styles="styles"
        >
            <RadioGroup v-model="formUpload.type" style="margin-bottom: 20px;">
                <Radio :label="1">
                    <span>MQL5 Signal</span>
                </Radio>
                <Radio :label="2">
                    <span>Metatrader Tester</span>
                </Radio>
                <Radio :label="3">
                    <span>Metatrader history</span>
                </Radio>
            </RadioGroup>

            <div v-if="formUpload.type == 1">
                <Form :label-width="180">
                    <FormItem label="URL">
                        <Input v-model="formUpload.url" placeholder=""></Input>
                    </FormItem>
                    <FormItem label="Name">
                        <Input v-model="formUpload.name" placeholder="optional"></Input>
                    </FormItem>
                    <FormItem label="Is from EA?">
                        <RadioGroup v-model="formUpload.from_ea">
                            <Radio :label="1">
                                <span>Yes</span>
                            </Radio>
                            <Radio :label="0">
                                <span>No</span>
                            </Radio>
                        </RadioGroup>
                    </FormItem>
                    <FormItem label="Broker(TimeZone)">
                        <Select v-model="formUpload.broker" >
                            <Option v-for="item in brokerList" :value="item" :key="item">{{ item }}</Option>
                        </Select>
                    </FormItem>
                    <div style="text-align: right;">
                        <Button type="primary" icon="md-add" :loading="uploadLoading" @click="upload">Upload</Button>
                    </div>
                </Form>
            </div>
            <div v-if="formUpload.type == 2">
                <Form :label-width="180">
                    <FormItem label="Name">
                        <Input v-model="formUpload.name" placeholder=""></Input>
                    </FormItem>
                    <FormItem label="Broker(TimeZone)">
                        <Select v-model="formUpload.broker" >
                            <Option v-for="item in brokerList" :value="item" :key="item">{{ item }}</Option>
                        </Select>
                    </FormItem>
                    <FormItem label="Detailed history(.html)">
                        <div style="margin-bottom: 10px;">
                            <Upload
                                :before-upload="handleUpload"
                                action="">
                                <Button icon="ios-cloud-upload-outline">Select file</Button>
                                <span v-if="formUpload.file !== null" style="display: inline-block; margin-left: 20px;">
                                    {{ formUpload.file.name }} 
                                </span>
                            </Upload>
                            <div style="text-align: right;">
                                <Button type="primary" icon="md-add" @click="upload" :loading="uploadLoading" :disabled="formUpload.file == null">Upload</Button>
                            </div>
                        </div>
                    </FormItem>
                </Form>
            </div>

            <div v-if="formUpload.type == 3">
                <Form :label-width="180">
                    <FormItem label="Name">
                        <Input v-model="formUpload.name" placeholder=""></Input>
                    </FormItem>
                    <FormItem label="Broker(TimeZone)">
                        <Select v-model="formUpload.broker" >
                            <Option v-for="item in brokerList" :value="item" :key="item">{{ item }}</Option>
                        </Select>
                    </FormItem>
                    <FormItem label="Detailed history(.html)">
                        <div style="margin-bottom: 10px;">
                            <Upload
                                :before-upload="handleUpload"
                                action="">
                                <Button icon="ios-cloud-upload-outline">Select file</Button>
                                <span v-if="formUpload.file !== null" style="display: inline-block; margin-left: 20px;">
                                    {{ formUpload.file.name }} 
                                </span>
                            </Upload>
                            <div style="text-align: right;">
                                <Button type="primary" icon="md-add" @click="upload" :loading="uploadLoading" :disabled="formUpload.file == null">Upload</Button>
                            </div>
                        </div>
                    </FormItem>

                </Form>
                <Table stripe :columns="drawerColumns" :data="drawerList" size="small" @on-selection-change="selectionDrawerChange" @on-sort-change="sortChange"></Table>
                <div style="text-align: right; margin-top: 10px;">
                    <Button type="primary" @click="submitUploadData" :loading="submitUploadDataLoading" :disabled="drawerList.length == 0">Confirm</Button>
                </div>
            </div>

        </Drawer>
        <Modal
            v-model="modalColumnsConfig"
            title="Show stats"
            @on-ok="columnsConfig"
        >
            <Checkbox v-for="item in columnsList" :key="item.key" v-model="item.showFlag" style="display: inline-block; margin-right: 20px;">{{ item.key }}</Checkbox>
        </Modal>
    </div>
</template>
<script>
    
    import expandRow from './0001-table-expand.vue';
    export default {
        name: 'view_0001',
        components: {
        },
        props: {
        },
        data () {

            return {
                userName: '',
                searchLoading: false,
                uploadLoading: false,
                submitUploadDataLoading: false,
                modalColumnsConfig: false,
                styles: {
                    height: 'calc(100% - 55px)',
                    overflow: 'auto',
                    paddingBottom: '53px',
                    position: 'static'
                },
                brokerList: [],
                drawerFlag: false,
                formUpload: {
                    // 1: mql5, 2: tester, 3: mt4
                    type: 1,
                    url: '',
                    name: '',
                    from_ea: '',
                    broker: '',
                    file: null,
                },
                filter: {
                },
                form: {
                },
                rule: {
                },
                tree: [],
                columnsList: [
                    {
                        key: 'Start_date',
                        showFlag: true,
                        config: {
                            title: 'Start_date',
                            key: 'Start_date',
                            align: 'center',
                            minWidth: 100,
                            sortable: true,
                        },
                    },
                    {
                        key: 'Weeks',
                        showFlag: true,
                        config: {
                            title: 'Weeks',
                            key: 'Weeks',
                            align: 'center',
                            minWidth: 70,
                            sortable: true,
                        },
                    },
                    {
                        key: 'Trades',
                        showFlag: true,
                        config: {
                            title: 'Trades',
                            key: 'Trades',
                            align: 'center',
                            minWidth: 70,
                            sortable: true,
                        },
                    },
                    {
                        key: 'Win_rate',
                        showFlag: true,
                        config: {
                            title: 'Win_rate',
                            key: 'Win_rate',
                            align: 'center',
                            minWidth: 80,
                            sortable: true,
                        },
                    },
                    {
                        key: 'Worst_pip',
                        showFlag: true,
                        config: {
                            title: 'Worst_pip',
                            key: 'Worst_pip',
                            align: 'center',
                            minWidth: 90,
                            sortable: true,
                        },
                    },
                    {
                        key: 'Growth',
                        showFlag: true,
                        config: {
                            title: 'Growth',
                            key: 'Growth',
                            align: 'center',
                            minWidth: 80,
                            sortable: true,
                        },
                    },
                    {
                        key: 'Max_dd',
                        showFlag: true,
                        config: {
                            title: 'Max_dd',
                            key: 'Max_dd',
                            align: 'center',
                            minWidth: 80,
                            sortable: true,
                        },
                    },
                    {
                        key: 'Max_dep',
                        showFlag: true,
                        config: {
                            title: 'Max_dep',
                            key: 'Max_dep',
                            align: 'center',
                            minWidth: 90,
                            sortable: true,
                        },
                    },
                    {
                        key: 'G/W/DD',
                        showFlag: true,
                        config: {
                            title: 'G/W/DD',
                            key: 'G/W/DD',
                            align: 'center',
                            minWidth: 90,
                            sortable: true,
                        },
                    },
                    {
                        key: 'Trades_per_week',
                        showFlag: true,
                        config: {
                            title: 'Trades_per_week',
                            key: 'Trades_per_week',
                            align: 'center',
                            minWidth: 130,
                            sortable: true,
                        },
                    },
                    {
                        key: 'Avg_hold_hours',
                        showFlag: true,
                        config: {
                            title: 'Avg_hold_hours',
                            key: 'Avg_hold_hours',
                            align: 'center',
                            minWidth: 130,
                            sortable: true,
                        },
                    },
                    {
                        key: 'Most_trade_hour',
                        showFlag: true,
                        config: {
                            title: 'Most_trade_hour',
                            key: 'Most_trade_hour',
                            align: 'center',
                            minWidth: 130,
                            sortable: true,
                        },
                    },
                    {
                        key: 'Max_level',
                        showFlag: true,
                        config: {
                            title: 'Max_level',
                            key: 'Max_level',
                            align: 'center',
                            minWidth: 90,
                            sortable: true,
                        },
                    },
                    {
                        key: 'Trade_symbols',
                        showFlag: false,
                        config: {
                            title: 'Trade_symbols',
                            key: 'Trade_symbols',
                            align: 'center',
                            minWidth: 120,
                            sortable: true,
                        },
                    },

                    {
                        key: 'From_EA',
                        showFlag: false,
                        config: {
                            title: 'From_EA',
                            key: 'From_EA',
                            align: 'center',
                            minWidth: 90,
                            sortable: true,
                        },
                    },
                    {
                        key: 'Latest_month_min_lot',
                        showFlag: false,
                        config: {
                            title: 'Latest_month_min_lot',
                            key: 'Latest_month_min_lot',
                            align: 'center',
                            minWidth: 160,
                            sortable: true,
                        },
                    },
                    {
                        key: 'Latest_month_max_lot',
                        showFlag: false,
                        config: {
                            title: 'Latest_month_max_lot',
                            key: 'Latest_month_max_lot',
                            align: 'center',
                            minWidth: 160,
                            sortable: true,
                        },
                    },
                    {
                        key: 'Profit_Factor',
                        showFlag: true,
                        config: {
                            title: 'Profit_Factor',
                            key: 'Profit_Factor',
                            align: 'center',
                            minWidth: 110,
                            sortable: true,
                        },
                    },
                    {
                        key: 'Avg_gain_pip',
                        showFlag: true,
                        config: {
                            title: 'Avg_gain_pip',
                            key: 'Avg_gain_pip',
                            align: 'center',
                            minWidth: 120,
                            sortable: true,
                        },
                    },

                ],
                columns: [
                    {
                        type: 'expand',
                        fixed: 'left',
                        width: 50,
                        render: (h, params) => {
                            return h(expandRow, {
                                props: {
                                    row: params.row
                                }
                            })
                        }
                    },
                    {
                        type: 'selection',
                        fixed: 'left',
                        width: 60,
                        align: 'center',
                        minWidth: 20,
                    },
                    // {
                    //     type: 'index',
                    //     width: 60,
                    //     align: 'center',
                    //     minWidth: 20,
                    // },
                    {
                        title: 'Name',
                        key: 'Name',
                        align: 'center',
                        fixed: 'left',
                        minWidth: 100,
                        sortable: true,
                        render: (h, params) => {
                            return h('div', [
                                h('a', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    on: {
                                        click: () => {
                                            window.open(params.row._url);
                                        }
                                    }
                                }, params.row.Name)
                            ]);
                        }
                    },
                    // {
                    //     title: '操作',
                    //     align: 'center',
                    //     width: 120,
                    //     render: (h, params) => {
                    //         return h('div', [
                    //             h('Button', {
                    //                 props: {
                    //                     type: 'primary',
                    //                     size: 'small'
                    //                 },
                    //                 on: {
                    //                     click: () => {
                    //                     }
                    //                 }
                    //             }, '操作按钮')
                    //         ]);
                    //     }
                    // }

                ],
                list: [],
                listSelectedList: [],
                drawerColumns: [
                    // {
                    //     type: 'expand',
                    //     width: 50,
                    //     render: (h, params) => {
                    //         return h(expandRow, {
                    //             props: {
                    //                 row: params.row
                    //             }
                    //         })
                    //     }
                    // },
                    {
                        type: 'selection',
                        key: '_checked',
                        width: 60,
                        align: 'center'
                    },
                    // {
                    //     type: 'index',
                    //     width: 60,
                    //     align: 'center',
                    // },
                    {
                        title: 'Magic',
                        key: 'Magic',
                        minWidth: 70,
                        sortable: true,
                        align: 'center',
                    },
                    {
                        title: 'Comments',
                        key: 'Comments',
                        minWidth: 150,
                        sortable: true,
                        align: 'center',
                        render: (h, params) => {
                            return h('div', [
                                h('Input', {
                                    props: {
                                        value: params.row.Comments,
                                    },
                                    on: {
                                        input: val => {
                                            // 进行赋值
                                            this.drawerList[params.index].Comments = val;
                                        }
                                    }
                                })
                            ]);
                        }
                    },
                    {
                        title: 'Trades',
                        key: 'Trades',
                        minWidth: 70,
                        sortable: true,
                        align: 'center',
                    },
                    {
                        title: 'Symbol',
                        key: 'Symbol',
                        minWidth: 70,
                        sortable: true,
                        align: 'center',
                    },
                    {
                        title: 'First trade Date',
                        key: 'First trade Date',
                        minWidth: 120,
                        sortable: true,
                        align: 'center',
                        render: (h, params) => {
                            return h('span', this.$formatDate(params.row['First trade Date']))
                        }
                    },
                    {
                        title: 'Last trade date',
                        key: 'Last trade date',
                        minWidth: 120,
                        sortable: true,
                        align: 'center',
                        render: (h, params) => {
                            return h('span', this.$formatDate(params.row['Last trade date']))
                        }
                    },
                    {
                        title: 'Trade lots',
                        key: 'Trade lots',
                        minWidth: 100,
                        sortable: true,
                        align: 'center',
                    },
                    {
                        title: 'Net Profit',
                        key: 'Net Profit',
                        minWidth: 100,
                        sortable: true,
                        align: 'center',
                    },
                    {
                        title: 'Avg gain pip',
                        key: 'Avg gain pip',
                        minWidth: 100,
                        sortable: true,
                        align: 'center',
                    },
                ],
                drawerList: [],
                drawerListSelectedList: [],
                page: this.$page(),
            }
        },
        watch: {
        },
        beforeCreate () {
        },
        created () {
        },
        mounted() {
            // 初始化
            this.init();
        },
        methods: {
            /*
                初始化
            */
            init() {
                // 默认检索
                this.search(1);
                // 配置列表显示项
                this.columnsConfig();
                // 获取 broker 下拉菜单数据
                this.$http.get('trans_hist_tz_broker').then(res => {
                    this.brokerList = res.broker;
                }).catch((error) => {
                    console.log(error)
                })

                this.userName = this.$cookies.get('userName');

            },
            /*
                查询
            */
            search(pageNo) {
                // var vue = this;
                this.searchLoading = true;
                // 获取列表数据
                this.$http.get('trans_hist_info').then(res => {
                    this.searchLoading = false;
                    this.setSearchData(res)
                }).catch((error) => {
                    this.searchLoading = false;
                    console.log(error)
                })


                // for(var i = 0; i < 50; i++) {
                // }
            },
            setSearchData(res) {

                this.list = [];
                // 更改数据格式 start
                for(var key in res.Source) {
                    var obj = {};
                    obj.key = key;
                    obj.Source = res.Source[key];
                    obj.User = res.User[key];
                    obj.Updated_date = res.Updated_date[key];
                    obj.Name = res.Name[key];
                    obj.Timezone_broker = res.Timezone_broker[key];
                    obj.Leverage = res.Leverage[key];
                    obj.Equity = res.Equity[key];
                    obj.Currency = res.Currency[key];
                    obj.From_EA = res.From_EA[key];
                    obj['G\/W\/DD'] = res['G\/W\/DD'][key];
                    obj.Max_level = res.Max_level[key];
                    obj.Trade_symbols = res.Trade_symbols[key];
                    obj.Filtered_symbols = res.Filtered_symbols[key];
                    obj.Start_date = res.Start_date[key];
                    obj.Weeks = res.Weeks[key];
                    obj.Trades = res.Trades[key];
                    obj.Latest_month_min_lot = res.Latest_month_min_lot[key];
                    obj.Latest_month_max_lot = res.Latest_month_max_lot[key];
                    obj.Growth = res.Growth[key];
                    obj.Max_dd = res.Max_dd[key];
                    obj.Max_dep = res.Max_dep[key];
                    obj.Trades_per_week = res.Trades_per_week[key];
                    obj.Avg_hold_hours = res.Avg_hold_hours[key];
                    obj.Median_hold_hours = res.Median_hold_hours[key];
                    obj.Most_trade_hour = res.Most_trade_hour[key];
                    obj.Sharpe_ratio = res.Sharpe_ratio[key];
                    obj.Recovery_Factor = res.Recovery_Factor[key];
                    obj.Profit_Factor = res.Profit_Factor[key];
                    obj.Win_rate = res.Win_rate[key];
                    obj.Gross_profit = res.Gross_profit[key];
                    obj.Gross_loss = res.Gross_loss[key];
                    obj.Worst_pip = res.Worst_pip[key];
                    obj.Worst_dollar = res.Worst_dollar[key];
                    obj.Best_pip = res.Best_pip[key];
                    obj.Best_dollor = res.Best_dollor[key];
                    obj.Avg_gain_pip = res.Avg_gain_pip[key];
                    obj.Commission = res.Commission[key];
                    obj.Swap = res.Swap[key];
                    obj._url = res._url[key];
                    obj._hist_path = res._hist_path[key];

                    this.list.push(obj);
                }
                // 更改数据格式 end
            },
            /*
                排序
            */
            sortChange() {

            },
            /*
                选择文件上传
            */
            handleUpload(file) {
                this.formUpload.file = file;
                return false;
            },
            /*
                文件上传
            */
            upload() {
                this.uploadLoading = true;
                let formData = new FormData()
                formData.append('type', this.formUpload.type);
                formData.append('url', this.formUpload.url);
                formData.append('name', this.formUpload.name);
                formData.append('from_ea', this.formUpload.from_ea);
                formData.append('broker', this.formUpload.broker);
                formData.append('file', this.formUpload.file);
                // 请求文件上传
                this.$http.post('trans_hist_user_add', formData).then(res => {
                    this.uploadLoading = false;
                    this.$Message.success('上传成功!');
                    // type: 3 的场合 加载返回数据 再次提交
                    if (this.formUpload.type == 3) {
                            // console.log(res)
                            // 更改数据格式 start
                            for(var key in res.Magic) {
                                var obj = {};
                                obj['key'] = key;
                                obj['_checked'] = false;
                                obj['Magic'] = res['Magic'][key]
                                obj['Comments'] = res['Comments'][key]
                                obj['Trades'] = res['Trades'][key]
                                obj['Symbol'] = res['Symbol'][key]
                                obj['First trade Date'] = res['First trade Date'][key]
                                obj['Last trade date'] = res['Last trade date'][key]
                                obj['Trade lots'] = res['Trade lots'][key]
                                obj['Net Profit'] = res['Net Profit'][key]
                                obj['Avg gain pip'] = res['Avg gain pip'][key]
                                this.drawerList.push(obj);
                            }
                        
                    } else {
                        // 清空表单数据
                        this.formUpload = {
                            // 1: mql5, 2: tester, 3: mt4
                            type: 1,
                            url: '',
                            name: '',
                            from_ea: '',
                            broker: '',
                            file: null,
                        }
                        // 重新检索
                        this.search(1);
                        // 关闭侧拉
                        this.drawerFlag = false;
                    }

                }).catch((error) => {
                    this.$Message.error(res.reason ? res.reason : '上传失败！');
                    this.uploadLoading = false;
                    console.log(error)
                })

            },
            /*
                选择 页面数据
            */
            selectionListChange(selection) {
                var vue = this;
                vue.listSelectedList = [];
                selection.forEach(function(element, index) {
                    vue.listSelectedList.push(element.key)
                })
            },
            /*
                drawerList上传后返回数据 返回项目 选择更改 
            */
            selectionDrawerChange(selection) {
                var vue = this;
                // 取消所有选择
                vue.drawerList.forEach(function(element1, index1) {
                    element1._checked = false;
                })
                vue.drawerListSelectedList = [];
                selection.forEach(function(element, index) {
                    // 修改列表项值，reload reload 列表项数据
                    vue.drawerList.forEach(function(element1, index1) {
                        if (element1.key == element.key) {
                            element1._checked = true;
                        } 
                    })

                    vue.drawerListSelectedList.push(element.key)
                })

            },
            /*
                提交数据
            */
            submitUploadData() {

                var vue = this;
                vue.submitUploadDataLoading = true;
                var list = [];
                vue.drawerListSelectedList.forEach(function(element, index) {
                    vue.drawerList.forEach(function(element1, index2) {
                        if (element == element1.key) {
                            list.push(element1);
                        }
                    })
                })
                var obj = {
                    'Magic': {},
                    'Comments': {},
                    'Trades': {},
                    'Symbol': {},
                    'First trade Date': {},
                    'Last trade date': {},
                    'Trade lots': {},
                    'Net Profit': {},
                }
                list.forEach(function(element, index) {
                    obj['Magic'][element.key] = element['Magic'];
                    obj['Comments'][element.key] = element['Comments'];
                    obj['Trades'][element.key] = element['Trades'];
                    obj['Symbol'][element.key] = element['Symbol'];
                    obj['First trade Date'][element.key] = element['First trade Date'];
                    obj['Last trade date'][element.key] = element['Last trade date'];
                    obj['Trade lots'][element.key] = element['Trade lots'];
                    obj['Net Profit'][element.key] = element['Net Profit'];
                })

                // let formData = new FormData()
                // formData.append('Magic', obj['Magic']);
                // formData.append('Comments', obj['Comments']);
                // formData.append('Trades', obj['Trades']);
                // formData.append('Symbol', obj['Symbol']);
                // formData.append('First trade Date', obj['First trade Date']);
                // formData.append('Last trade date', obj['Last trade date']);
                // formData.append('Trade lots', obj['Trade lots']);
                // formData.append('Net Profit', obj['Net Profit']);
                this.$http.post('trans_hist_user_add_mod_comment', obj['Comments'], { headers : { 'content-type': 'application/json' }}).then(res => {
                    this.submitUploadDataLoading = false;
                    // 清空表单数据
                    this.formUpload = {
                        // 1: mql5, 2: tester, 3: mt4
                        type: 1,
                        url: '',
                        name: '',
                        from_ea: '',
                        broker: '',
                        file: null,
                    }
                    // 重新检索
                    this.search(1);
                    // 关闭侧拉
                    this.drawerFlag = false;
                    // 清空数据
                    this.drawerList = [];

                }).catch((error) => {
                    this.submitUploadDataLoading = false;
                    console.log(error)
                })
            },
            /*
                配置列表显示项
            */
            columnsConfig() {
                var vue = this;
                this.columns = this.columns.slice(0, 4);
                this.columnsList.forEach(function(element, index) {
                    if (element.showFlag == true) {
                        vue.columns.push(element.config);
                    }
                })
            },
            /*
                点击分析 获取 id 跳转0002
            */
            analyze() {
                this.$router.push({ name: '0002', query: { list: this.listSelectedList } });
            },
            /*
                更新
            */
            updata() {

                this.$http.post('trans_hist_update', { sel_fids: this.listSelectedList }, { headers : { 'content-type': 'application/json' }}).then(res => {
                    this.setSearchData(res)
                }).catch((error) => {
                    this.submitUploadDataLoading = false;
                    console.log(error)
                })
            },
            /*
                删除
            */
            deleteData() {
                this.$http.post('trans_hist_delete', { sel_fids: this.listSelectedList }, { headers : { 'content-type': 'application/json' }}).then(res => {
                    this.setSearchData(res)
                }).catch((error) => {
                    this.submitUploadDataLoading = false;
                    console.log(error)
                })
            },
        }
    }
</script>
<style scoped lang="less">
</style>


