<template>
    <div>
        <h3 style="margin-bottom: 20px;">
            My Portfolio
        </h3>
        <!-- <Form inline>
            <FormItem>
                <label style="margin: 0 10px;">ZZZ</label>
                <Input v-model="filter.q" placeholder="" :maxlength="20" style="width: 200px" />
            </FormItem>
            <FormItem>
                <label style="margin: 0 10px;">ZZZ</label>
                <Select v-model="filter.prdTyp" style="width: 200px;">
                    <Option value="">全部</Option>
                    <Option value="111">111</Option>
                    <Option value="111">222</Option>
                </Select>
            </FormItem>
            <FormItem>
                <label style="margin: 0 10px;">ZZZ</label>
                <Input v-model="filter.w" placeholder="" :maxlength="20" style="width: 200px" />
            </FormItem>
            <FormItem>
                <Button type="primary" style="margin: 0 10px;" @click="search(1)" :loading="searchLoading">
                    <Icon type="md-search" />
                    查询
                </Button>
            </FormItem>
        </Form> -->
        <div style="text-align: right; margin-bottom: 10px;">
            <Button type="primary" icon="md-trending-up" @click="modalOptimizationFlag = true" :loading="optimizationLoading" :disabled="listSelectedList.length == 0">Optimize</Button>
            <Button type="primary" @click="modalBackTestFlag = true" icon="ios-cog" :loading="backTestLoading" :disabled="listSelectedList.length == 0">Backtest</Button>
            <!-- <Button
                type="primary"
                icon="ios-barcode"
                @click="analyze"
                :loading="analyzeLoading"
                :disabled="analyzePercent == 100 || listSelectedList.length == 0"
            >
                分析
            </Button> -->
        </div>
        <Table stripe  :columns="columns" size="small" @on-sort-change="sortChange"  @on-selection-change="selectionListChange" :data="list"></Table>

        <div v-if="analyzePercent !== 0" style="padding: 20px">
            <Progress v-if="analyzePercent !== 100" :percent="analyzePercent" status="active" />
            <Row v-else>
                <Col span="12">
                    <div id="echart1" :style="{width: '100%', height: '500px'}"></div>
                </Col>
                <Col span="12">
                    <div id="echart2" :style="{width: '100%', height: '500px'}"></div>
                </Col>
                <Col span="12">
                    <div id="echart3" :style="{width: '100%', height: '500px'}"></div>
                </Col>
                <Col span="12">
                    <div id="echart4" :style="{width: '100%', height: '500px'}"></div>
                </Col>
            </Row>
            <div style="text-align: right; margin-top: 10px;">
                <Button  @click="clearAnalyze" :disabled="false">清除分析结果</Button>
            </div>
        </div>
        <Modal
            v-model="modalBackTestFlag"
            title="Select date"
            @on-ok="modalBackTestOk"
            @on-cancel="modalBackTestCancel"
        >   

            <Form :label-width="160">
                <FormItem label="Select date">
                    <DatePicker type="daterange" v-model="backTestDate" split-panels placeholder="" style="width: 100%" ></DatePicker>
                </FormItem>
                <FormItem label="resize_daily">
                    <RadioGroup v-model="formBackTestData.resize_daily">
                        <Radio :label="1">
                            <span>true</span>
                        </Radio>
                        <Radio :label="0">
                            <span>false</span>
                        </Radio>
                    </RadioGroup>
                </FormItem>
            </Form>
        </Modal>
        <Modal
            v-model="modalOptimizationFlag"
            title="Select date"
            @on-ok="modalOptimizationOk"
            @on-cancel="modalOptimizationCancel"
        >   

            <Form :label-width="160">
                <FormItem label="Select date">
                    <DatePicker type="daterange" v-model="optimizationData" split-panels placeholder="" style="width: 100%" ></DatePicker>
                </FormItem>
                <FormItem label="target_max_daily_DD">
                    <Input v-model="formOptimization.target_max_daily_DD" placeholder="" />
                </FormItem>
            </Form>
        </Modal>
    </div>
</template>
<script>
    
    import expandRow from './0002-table-expand.vue';
    export default {
        name: 'view_0002',
        components: {
        },
        props: {
        },
        data () {

            return {
                optimizationData: [new Date('2020-10-01'), new Date()],
                backTestDate: [new Date('2020-10-01'), new Date()],
                analyzeLoading: false,
                searchLoading: false,
                optimizationLoading: false,
                backTestLoading: false,
                modalBackTestFlag: false,
                modalOptimizationFlag: false,
                formBackTestData: {
                    start_date: '',
                    end_date: '',
                    resize_daily: '',
                },
                formOptimization: {
                    start_date: '',
                    end_date: '',
                    target_max_daily_DD: '0.05'
                },
                styles: {
                    height: 'calc(100% - 55px)',
                    overflow: 'auto',
                    paddingBottom: '53px',
                    position: 'static'
                },
                analyzeBtnText: '分析',
                analyzePercent: 0,
                filter: {
                },
                form: {
                },
                rule: {
                },
                tree: [],
                columns: [

                    {
                        type: 'expand',
                        fixed: 'left',
                        width: 50,
                        render: (h, params) => {
                            return h(expandRow, {
                                props: {
                                    row: params.row
                                }
                            })
                        }
                    },
                    {
                        type: 'selection',
                        fixed: 'left',
                        width: 60,
                        key: '_checked',
                        align: 'center'
                    },
                    // {
                    //     type: 'index',
                    //     width: 60,
                    //     align: 'center'
                    // },
                    {
                        title: 'Strategy',
                        key: 'Strategy',
                        fixed: 'left',
                        minWidth: 200,
                        align: 'center',
                        sortable: true,
                    },
                    {
                        title: 'Avg_gain_pip',
                        key: 'Avg_gain_pip',
                        minWidth: 120,
                        align: 'center',
                        sortable: true,
                    },
                    {
                        title: 'Avg_hold_hours',
                        key: 'Avg_hold_hours',
                        minWidth: 130,
                        align: 'center',
                        sortable: true,
                    },
                    {
                        title: 'Best_dollor',
                        key: 'Best_dollor',
                        minWidth: 100,
                        align: 'center',
                        sortable: true,
                    },
                    {
                        title: 'Best_pip',
                        key: 'Best_pip',
                        minWidth: 100,
                        align: 'center',
                        sortable: true,
                    },
                    {
                        title: 'Comments',
                        key: 'Comments',
                        minWidth: 90,
                        tooltip: true,
                        align: 'center',
                        sortable: true,
                    },
                    {
                        title: 'DD_max_pip',
                        key: 'DD_max_pip',
                        minWidth: 110,
                        align: 'center',
                        sortable: true,
                    },
                    // {
                    //     title: 'Filtered_symbols',
                    //     key: 'Filtered_symbols',
                    //     minWidth: 180,
                    //     align: 'center',
                    //     sortable: true,
                    // },
                    {
                        title: 'From_EA',
                        key: 'From_EA',
                        minWidth: 90,
                        align: 'center',
                        sortable: true,
                    },
                    {
                        title: 'From_transaction',
                        key: 'From_transaction',
                        minWidth: 130,
                        align: 'center',
                        sortable: true,
                    },
                    {
                        title: 'Gross_loss',
                        key: 'Gross_loss',
                        minWidth: 110,
                        align: 'center',
                        sortable: true,
                    },
                    {
                        title: 'Gross_profit',
                        key: 'Gross_profit',
                        minWidth: 110,
                        align: 'center',
                        sortable: true,
                    },
                    {
                        title: 'Latest_month_max_lot',
                        key: 'Latest_month_max_lot',
                        minWidth: 160,
                        align: 'center',
                        sortable: true,
                    },
                    {
                        title: 'Latest_month_min_lot',
                        key: 'Latest_month_min_lot',
                        minWidth: 160,
                        align: 'center',
                        sortable: true,
                    },
                    {
                        title: 'Max_level',
                        key: 'Max_level',
                        minWidth: 110,
                        align: 'center',
                        sortable: true,
                    },
                    {
                        title: 'Median_hold_hours',
                        key: 'Median_hold_hours',
                        minWidth: 150,
                        align: 'center',
                        sortable: true,
                    },
                    {
                        title: 'Most_trade_hour',
                        key: 'Most_trade_hour',
                        minWidth: 140,
                        align: 'center',
                    },
                    {
                        title: 'Profit_Factor',
                        key: 'Profit_Factor',
                        minWidth: 120,
                        align: 'center',
                        sortable: true,
                    },
                    {
                        title: 'Start_date',
                        key: 'Start_date',
                        minWidth: 100,
                        align: 'center',
                        sortable: true,
                    },
                    {
                        title: 'Trade_symbols',
                        key: 'Trade_symbols',
                        minWidth: 130,
                        align: 'center',
                        sortable: true,
                    },
                    {
                        title: 'Trades',
                        key: 'Trades',
                        minWidth: 80,
                        align: 'center',
                        sortable: true,
                    },
                    {
                        title: 'Trades_per_week',
                        key: 'Trades_per_week',
                        minWidth: 140,
                        align: 'center',
                        sortable: true,
                    },
                    {
                        title: 'Weeks',
                        key: 'Weeks',
                        minWidth: 80,
                        align: 'center',
                        sortable: true,
                    },
                    {
                        title: 'Win_rate',
                        key: 'Win_rate',
                        minWidth: 100,
                        align: 'center',
                        sortable: true,
                    },
                    {
                        title: 'Worst_dollar',
                        key: 'Worst_dollar',
                        minWidth: 120,
                        align: 'center',
                        sortable: true,
                    },
                    {
                        title: 'Worst_pip',
                        key: 'Worst_pip',
                        minWidth: 110,
                        align: 'center',
                        sortable: true,
                    },
                    // {
                    //     title: 'chartID',
                    //     key: 'chartID',
                    //     minWidth: 120,
                    //     align: 'center',
                    //     sortable: true,
                    // },
                    // {
                    //     title: 'eaID',
                    //     key: 'eaID',
                    //     minWidth: 120,
                    //     align: 'center',
                    //     sortable: true,
                    // },
                    {
                        title: 'MM type',
                        key: 'select',
                        fixed: 'right',
                        minWidth: 120,
                        align: 'center',
                        render: (h, params) => {

                            return h('Select', {
                                props:{
                                    transfer: true,
                                    value: params.row.select,
                                },
                                on: {
                                    'on-change':(val) => {
                                        this.list[params.index]['select'] = val;
                                    }
                                },
                            },
                            [
                                h('Option',{
                                    props: {
                                        value: 'F'
                                    }
                                },'F'),
                                h('Option',{
                                    props: {
                                        value: 'M'
                                    }
                                },'M'),
                                h('Option',{
                                    props: {
                                        value: 'R'
                                    }
                                },'R')
                            ])

                        }
                    },
                    {
                        title: 'MM size',
                        key: 'backTest',
                        fixed: 'right',
                        minWidth: 120,
                        align: 'center',
                        render: (h, params) => {
                            return h('div', [
                                h('Input', {
                                    props: {
                                        value: params.row.backTest,
                                    },
                                    on: {
                                        input: val => {
                                            // 进行赋值
                                            this.list[params.index]['backTest'] = val;
                                        }
                                    }
                                })
                            ]);
                        }
                    },

                ],
                list: [],
                listSelectedList: [],
            }
        },
        watch: {
        },
        beforeCreate () {
        },
        created () {
        },
        mounted() {
            // 初始化
            this.init();
        },
        methods: {
            /*
                初始化
            */
            init() {
                var vue = this;

                // 默认检索
                this.search(1);
                // 更新分析按钮 显示 状态 等
                this.updataAnalyzeShow();

            },
            /*
                提示用户过滤掉的一些策略
            */
            portfolio_filt_out() {
                var vue = this;
                this.$http.get('portfolio_filt_out').then(res => {
                    var list = [];
                    for (var key in res) {
                        list.push(key + '： ' + res[key])
                    }

                    vue.$Modal.info({
                        title: 'Filtered strategies',
                        okText: 'Confirm',
                        width: 600,
                        content: list.join('<br />')
                    });
                }).catch((error) => {
                    console.log(error)
                })
            },
            /*
                更新 分析 按钮 文字
            */
            updataAnalyzeShow() {
                // 查看分析状态
                if (this.analyzePercent == 0) {
                    // 没有运行的分析
                    this.analyzeBtnText = '分析';
                    // 不显示进度条 或者 图表
                } else if (this.analyzePercent == 100) {
                    // 分析成功
                    this.analyzeBtnText = '分析完成';
                } else {
                    // 分析中
                    this.analyzeBtnText = '分析中';
                }

            },
            /*
                日期选择框变化
            */
            // datePickerChange(list) {
            //     this.formOptimization.start_date = list[0];
            //     this.formOptimization.end_date = list[1];
            // },
            /*
                优化
            */
            modalOptimizationOk() {
                var vue = this;
                vue.optimizationLoading = true;
                let formData = new FormData()
                formData.append('start_date', this.$formatDate(this.optimizationData[0]));
                formData.append('end_date', this.$formatDate(this.optimizationData[1]));
                formData.append('chartIDs_index', vue.listSelectedList.join(','));
                formData.append('target_max_daily_DD', this.formOptimization.target_max_daily_DD);
                vue.$http.post('portfolio_run_opt', formData).then(res => {
                    for(var key in res) {
                        vue.list.forEach(function(element, index) {
                            if (element.Strategy == key) {
                                element.backTest = res[key]
                            }
                        })
                    }
                    
                    // 弹窗提示
                    vue.$Modal.success({
                        title: '提醒',
                        content: '优化完成',
                        onOk: () => {
                            vue.optimizationLoading = false;
                        },
                    });
                }).catch((error) => {
                    // 弹窗提示
                    vue.$Modal.success({
                        title: '提醒',
                        content: '优化失败',
                        onOk: () => {
                            vue.optimizationLoading = false;
                        },
                    });
                    console.log(error)
                })

            },
            modalOptimizationCancel() {

            },
            /*
                回测弹窗 回调
            */
            modalBackTestCancel() {

            },
            /*
                回测
            */
            modalBackTestOk() {
                var vue = this;
                vue.backTestLoading = true;
                var obj = {};
                vue.listSelectedList.forEach(function(element, index) {
                    vue.list.forEach(function(element1, index1) {
                        if (element == element1.key) {
                            obj[element1['Strategy']] = [element1.backTest == undefined ? 0 : +element1.backTest, element1.select];
                        }
                    })
                })
                var obj1 = {
                    start_date: this.$formatDate(this.backTestDate[0]),
                    end_date: this.$formatDate(this.backTestDate[1]),
                    resize_daily: this.formBackTestData.resize_daily,
                    chartID_MM_size: obj
                }

                vue.$http.post('portfolio_backtest', obj1, { responseType: 'blob' }).then(res => {
                    vue.backTestLoading = false;
                    console.log(res)
                    
                    var blob = new Blob([res.data]);

                    if (navigator.userAgent.indexOf("Edge") != -1) { // Edge的场合
                        navigator.msSaveBlob(blob, 'backtest_report');
                    } else if ('download' in document.createElement('a')) { // 非IE下载
                        let a = document.createElement('a')
                        a.download = 'backtest_report.html'
                        a.style.display = 'none'
                        a.href = URL.createObjectURL(blob)
                        document.body.appendChild(a)
                        a.click()
                        URL.revokeObjectURL(a.href) // 释放URL 对象
                        document.body.removeChild(a)
                    } else { // IE10+下载
                        navigator.msSaveBlob(blob, 'backtest_report');
                    }


                    // 跳转 回测结果页面
                    // let routeUrl = this.$router.resolve({
                    //     name: 'backtestData',
                    // });
                    // window.open(routeUrl.href, '_blank');

                }).catch((error) => {
                    // 弹窗提示
                    vue.$Modal.success({
                        title: '提醒',
                        content: '回测失败',
                        onOk: () => {
                            vue.backTestLoading = false;
                        },
                    });
                    console.log(error)
                })
            },
            /*
                查询
            */
            search(pageNo) {
                var vue = this;
                vue.searchLoading = true;
                vue.list = [];
                var list = [];
                if ('object' == typeof vue.$route.query.list) {
                    vue.$route.query.list.forEach(function(element, index) {
                        list.push(+element);
                    })
                } else {
                    list.push(+vue.$route.query.list);
                }
                vue.$http.post('portfolio', { sel_fids: list }, { headers : { 'content-type': 'application/json' }}).then(res => {
                    if (res.status == 1) {
                        // 请求列表数据
                        this.$http.get('portfolio_port_info').then(res => {
                            
                            vue.searchLoading = false;
                            // 提示用户过滤掉的一些策略
                            this.portfolio_filt_out();

                            // console.log(res)
                            for(var key in res.Strategy) {
                                var obj = {};
                                obj.key = key;
                                obj._checked = false;
                                obj.Strategy = res.Strategy[key];
                                obj.Avg_gain_pip = res.Avg_gain_pip[key];
                                obj.Avg_hold_hours = res.Avg_hold_hours[key];
                                obj.Best_dollor = res.Best_dollor[key];
                                obj.Best_pip = res.Best_pip[key];
                                obj.Comments = res.Comments[key];
                                obj.DD_max_pip = res.DD_max_pip[key];
                                obj.Filtered_symbols = res.Filtered_symbols[key];
                                obj.From_EA = res.From_EA[key];
                                obj.From_transaction = res.From_transaction[key];
                                obj.Gross_loss = res.Gross_loss[key];
                                obj.Gross_profit = res.Gross_profit[key];
                                obj.Latest_month_max_lot = res.Latest_month_max_lot[key];
                                obj.Latest_month_min_lot = res.Latest_month_min_lot[key];
                                obj.Max_level = res.Max_level[key];
                                obj.Median_hold_hours = res.Median_hold_hours[key];
                                obj.Most_trade_hour = res.Most_trade_hour[key];
                                obj.Profit_Factor = res.Profit_Factor[key];
                                obj.Start_date = res.Start_date[key];
                                obj.Trade_symbols = res.Trade_symbols[key];
                                obj.Trades = res.Trades[key];
                                obj.Trades_per_week = res.Trades_per_week[key];
                                obj.Weeks = res.Weeks[key];
                                obj.Win_rate = res.Win_rate[key];
                                obj.Worst_dollar = res.Worst_dollar[key];
                                obj.Worst_pip = res.Worst_pip[key];
                                obj.chartID = res.chartID[key];
                                obj.eaID = res.eaID[key];
                                obj.select = 'F';
                                obj.backTest = '0.01';

                                this.list.push(obj);
                            }
                        }).catch((error) => {
                            console.log(error)
                        })
                    } else {
                        this.searchLoading = false;
                        this.$Message.error(res.reason ? res.reason : '分析失败！');
                    }
                }).catch((error) => {
                    console.log(error)
                    this.$Message.error('分析失败！');
                })

            },
            /*
                排序
            */
            sortChange() {

            },

            /*
                选择 页面数据
            */
            selectionListChange(selection) {
                var vue = this;
                vue.listSelectedList = [];
                // 取消所有选择
                vue.list.forEach(function(element1, index1) {
                    element1._checked = false;
                })
                selection.forEach(function(element, index) {
                    // 修改列表项值，reload reload 列表项数据
                    vue.list.forEach(function(element1, index1) {
                        if (element1.key == element.key) {
                            element1._checked = true;
                        }
                    })
                    vue.listSelectedList.push(+element.key)
                })
            },
            /*
                分析
            */
            analyze() {
                var vue = this;
                vue.analyzeLoading = true;
                // 执行分析
                // vue.analyzePercent = 1;
                vue.$http.post('portfolio_gen_graph', { sel_chartIDs: vue.listSelectedList}).then(res => {
                    
                    // 弹窗提示
                    vue.$Modal.success({
                        title: '提醒',
                        content: '分析中，大约需要2分钟，请耐心等待，不要刷新页面。',
                        onOk: () => {

                            // 更新分析按钮 显示 状态 等
                            // vue.updataAnalyzeShow();
                            vue.analyzeLoading = false;
                            console.log('分析', res);
                            // 跳转 分析结果页面
                            let routeUrl = this.$router.resolve({
                                name: 'analyzeData',
                            });
                            window.open(routeUrl.href, '_blank');

                            // 显示进度条
                            // var Interval = setInterval(function() {
                            //     vue.analyzePercent++;
                            //     if (vue.analyzePercent == 100) {
                            //         // 清除 间隔执行
                            //         clearInterval(Interval);
                            //         // 更新分析按钮 显示 状态 等
                            //         vue.updataAnalyzeShow();
                            //         // 加载图表数据
                            //         vue.loadEchart();

                            //     }
                            // }, 12); // 1200

                        },
                    });

                }).catch((error) => {
                    // 执行分析
                    vue.analyzePercent = 0;
                    vue.analyzeLoading = false;
                    console.log(error)
                })

            },
            /*
                清除分析结果
            */
            clearAnalyze() {
                this.analyzePercent = 0;
                // 更新分析按钮 显示 状态 等
                this.updataAnalyzeShow();
            },
        }
    }
</script>
<style scoped lang="less">
</style>


