<template>
    <div>
        <Row>
            <Col span="12">
                <div id="echart1" :style="{width: '100%', height: '500px'}"></div>
            </Col>
            <Col span="12">
                <div id="echart2" :style="{width: '100%', height: '500px'}"></div>
            </Col>
        </Row>

    </div>
</template>
<script>
    export default {
        name: 'home',
        components: {
        },
        props: {
        },
        data () {
            return {
                xList1: [],
                yList1: [],
                series1: [],
                
                filter: {

                },
                form: {

                },
                formList: [],
                rules: {
                },

                tree: [],
                columns: [
                    
                ],
                list: [],
                page: this.$page(),
            }
        },
        watch: {
        },
        beforeCreate () {
        },
        created () {
        },
        mounted() {
            // 初始化
            // this.init();
            // return false;

            
            var vue = this;

            var hours = ['12a', '1a', '2a', '3a', '4a', '5a', '6a',
                    '7a', '8a', '9a','10a','11a',
                    '12p', '1p', '2p', '3p', '4p', '5p',
                    '6p', '7p', '8p', '9p', '10p', '11p'];
            var days = ['Saturday', 'Friday', 'Thursday',
                    'Wednesday', 'Tuesday', 'Monday', 'Sunday'];

            var data = [[0,0,5],[0,1,1],[0,2,0],[0,3,0],[0,4,0],[0,5,0],[0,6,0],[0,7,0],[0,8,0],[0,9,0],[0,10,0],[0,11,2],[0,12,4],[0,13,1],[0,14,1],[0,15,3],[0,16,4],[0,17,6],[0,18,4],[0,19,4],[0,20,3],[0,21,3],[0,22,2],[0,23,5],[1,0,7],[1,1,0],[1,2,0],[1,3,0],[1,4,0],[1,5,0],[1,6,0],[1,7,0],[1,8,0],[1,9,0],[1,10,5],[1,11,2],[1,12,2],[1,13,6],[1,14,9],[1,15,11],[1,16,6],[1,17,7],[1,18,8],[1,19,12],[1,20,5],[1,21,5],[1,22,7],[1,23,2],[2,0,1],[2,1,1],[2,2,0],[2,3,0],[2,4,0],[2,5,0],[2,6,0],[2,7,0],[2,8,0],[2,9,0],[2,10,3],[2,11,2],[2,12,1],[2,13,9],[2,14,8],[2,15,10],[2,16,6],[2,17,5],[2,18,5],[2,19,5],[2,20,7],[2,21,4],[2,22,2],[2,23,4],[3,0,7],[3,1,3],[3,2,0],[3,3,0],[3,4,0],[3,5,0],[3,6,0],[3,7,0],[3,8,1],[3,9,0],[3,10,5],[3,11,4],[3,12,7],[3,13,14],[3,14,13],[3,15,12],[3,16,9],[3,17,5],[3,18,5],[3,19,10],[3,20,6],[3,21,4],[3,22,4],[3,23,1],[4,0,1],[4,1,3],[4,2,0],[4,3,0],[4,4,0],[4,5,1],[4,6,0],[4,7,0],[4,8,0],[4,9,2],[4,10,4],[4,11,4],[4,12,2],[4,13,4],[4,14,4],[4,15,14],[4,16,12],[4,17,1],[4,18,8],[4,19,5],[4,20,3],[4,21,7],[4,22,3],[4,23,0],[5,0,2],[5,1,1],[5,2,0],[5,3,3],[5,4,0],[5,5,0],[5,6,0],[5,7,0],[5,8,2],[5,9,0],[5,10,4],[5,11,1],[5,12,5],[5,13,10],[5,14,5],[5,15,7],[5,16,11],[5,17,6],[5,18,0],[5,19,5],[5,20,3],[5,21,4],[5,22,2],[5,23,0],[6,0,1],[6,1,0],[6,2,0],[6,3,0],[6,4,0],[6,5,0],[6,6,0],[6,7,0],[6,8,0],[6,9,0],[6,10,1],[6,11,0],[6,12,2],[6,13,1],[6,14,3],[6,15,4],[6,16,0],[6,17,0],[6,18,0],[6,19,0],[6,20,1],[6,21,2],[6,22,2],[6,23,6]];

            var echart1 = vue.$echarts.init(document.getElementById('echart1'));
            echart1.setOption({

                tooltip: {
                    // formatter: '{a}<br />{b}<br />{c}'
                    formatter: function (params, ticket, callback) {
                        // console.log(params, params.value)
                        return params.seriesName + '<br />' + hours[params.value[0]] + '<br />' + days[params.value[1]] + '<br />';
                    },
                },
                visualMap: {
                    max: 20,
                    inRange: {
                        color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
                    }
                },
                xAxis3D: {
                    name: 'qweqw',
                    type: 'category',
                    data: hours
                },
                yAxis3D: {
                    type: 'category',
                    data: days
                },
                zAxis3D: {
                    type: 'value'
                },
                grid3D: {
                    boxWidth: 200,
                    boxDepth: 80,
                    viewControl: {
                        // projection: 'orthographic'
                    },
                    light: {
                        main: {
                            intensity: 1.2,
                            shadow: true
                        },
                        ambient: {
                            intensity: 0.3
                        }
                    }
                },
                series: [{
                    type: 'bar3D',
                    stack: 'stack',
                    name: 'GGGGGGGGGGGG',
                    data: data.map(function (item) {
                        return {
                            value: [item[1], item[0], item[2]],
                        }
                    }),
                    shading: 'lambert',

                    label: {
                        textStyle: {
                            fontSize: 16,
                            borderWidth: 1
                        }
                    },

                    emphasis: {
                        label: {
                            textStyle: {
                                fontSize: 20,
                                color: '#900'
                            }
                        },
                        itemStyle: {
                            color: '#900'
                        }
                    }
                },{
                    type: 'bar3D',
                    stack: 'stack',
                    name: 'FFFFFFFFFFFFF',
                    data: data.map(function (item) {
                        return {
                            value: [item[1], item[0], item[2]],
                        }
                    }),
                    shading: 'lambert',

                    label: {
                        textStyle: {
                            fontSize: 16,
                            borderWidth: 1
                        }
                    },

                    emphasis: {
                        label: {
                            textStyle: {
                                fontSize: 20,
                                color: '#900'
                            }
                        },
                        itemStyle: {
                            color: '#900'
                        }
                    }
                }]
            })

        },
        methods: {
            /*
                初始化
            */
            init() {
                this.getEchartData1_1();
                this.getEchartData1_2();
                this.loadEchart2();
            },

            loadEchart1() {

                var vue = this;
                if (this.series1.length == 2) {

                    var echart1 = vue.$echarts.init(document.getElementById('echart1'));
                    // 绘制图表
                    echart1.setOption({
                        title: {
                            // text: "Bear Vs Bull IC Markets__AUDUSD",
                        },
                        tooltip: {
                            formatter: function (params, ticket, callback) {
                                // console.log(params, params.value)
                                return params.seriesName + '<br />' + vue.xList1[params.value[0]] + '<br />' + vue.yList1[params.value[1]] + '<br />';
                            },
                        },
                        visualMap: {
                            // max: 20,
                            inRange: {
                                color: [ '#4575b4', '#4575b4', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#313695', '#a50026' ]
                            }
                        },
                        xAxis3D: {
                            type: 'category',
                            data: vue.xList1
                        },
                        yAxis3D: {
                            type: 'category',
                            data: vue.yList1
                        },
                        zAxis3D: {
                            type: 'value'
                        },
                        grid3D: {
                            // boxWidth: 200,
                            // boxDepth: 80,
                            viewControl: {
                                // projection: 'orthographic'
                            },
                            light: {
                                main: {
                                    intensity: 1.2,
                                    shadow: false
                                },
                                ambient: {
                                    intensity: 0.3
                                }
                            }
                        },
                        series: vue.series1
                    });
                }
            },

            /*
                加载 图表
            */
            getEchartData1_1() {
                var vue = this;

                vue.$http.get('portfolio_ea_sym_gain').then(res => {

                    // 表1 start --------------------------------------------------------
                    vue.yList1 = [];
                    var y = 0;
                    var dataList1 = []
                    for(var key in res) {
                        vue.yList1.push(key)
                        var x = 0;
                        vue.xList1 = [];
                        for (var key1 in res[key]) {
                            vue.xList1.push(key1)
                            dataList1.push([y, x, res[key][key1]])
                            x++;
                        }
                        y++;
                    }
                    vue.series1.push({
                        name: 'portfolio_ea_sym_gain',
                        type: 'bar3D',
                        stack: 'stack',
                        data: dataList1.map(function (item) {
                            return {
                                value: [item[1], item[0], item[2]],
                            }
                        }),
                        shading: 'lambert',
                        label: {
                            textStyle: {
                                fontSize: 16,
                                borderWidth: 1
                            }
                        },
                        emphasis: {
                            label: {
                                textStyle: {
                                    fontSize: 20,
                                    color: '#900'
                                }
                            },
                            itemStyle: {
                                color: '#900'
                            }
                        }
                    })
                    vue.loadEchart1();
                    // 表1 end --------------------------------------------------------
                }).catch((error) => {
                    console.log(error)
                })

            },
            getEchartData1_2() {
                var vue = this;

                vue.$http.get('portfolio_ea_sym_dd').then(res => {

                    // 表1 第二个接口 start --------------------------------------------------------
                    var y = 0;
                    var dataList2 = []
                    for(var key in res) {
                        var x = 0;
                        for (var key1 in res[key]) {
                            dataList2.push([y, x, res[key][key1]])
                            x++;
                        }
                        y++;
                    }

                    vue.series1.push({
                        name: 'portfolio_ea_sym_dd',
                        type: 'bar3D',
                        stack: 'stack',
                        data: dataList2.map(function (item) {
                            return {
                                value: [item[1], item[0], item[2]],
                            }
                        }),
                        shading: 'lambert',
                        label: {
                            textStyle: {
                                fontSize: 16,
                                borderWidth: 1
                            }
                        },
                        emphasis: {
                            label: {
                                textStyle: {
                                    fontSize: 20,
                                    color: '#900'
                                }
                            },
                            itemStyle: {
                                color: '#900'
                            }
                        }
                    })
                    vue.loadEchart1();
                    // 表1 第二个接口 end --------------------------------------------------------

                }).catch((error) => {
                    console.log(error)
                })

            },
            loadEchart2() {
                var vue = this;
                vue.$http.get('portfolio_sym_hour').then(res => {
                    // 表2 start --------------------------------------------------------
                    console.log(res);
                    var yList1 = [];
                    var xList1 = [];
                    var series = []
                    var i = 0;
                    for (var key in res) {
                        if (i == 0) {
                            res[key].forEach(function(element, index) {
                                if (yList1.indexOf(element[0]) == -1) {
                                    yList1.push(element[0])
                                }
                                if (xList1.indexOf(element[1]) == -1) {
                                    xList1.push(element[1])
                                }
                            })
                        }
                        var dataList1 = []
                        res[key].forEach(function(element, index) {
                            dataList1.push([ yList1.indexOf(element[0]), xList1.indexOf(element[1]), element[2] ])
                        })
                        series.push({
                            name: key,
                            type: 'bar3D',
                            stack: 'stack',
                            data: dataList1.map(function (item) {
                                return {
                                    value: [item[1], item[0], item[2]],
                                }
                            }),
                            shading: 'lambert',

                            label: {
                                textStyle: {
                                    fontSize: 16,
                                    borderWidth: 1
                                }
                            },

                            emphasis: {
                                label: {
                                    textStyle: {
                                        fontSize: 20,
                                        color: '#900'
                                    }
                                },
                                itemStyle: {
                                    color: '#900'
                                }
                            }
                        })
                    }
                    var echart2 = vue.$echarts.init(document.getElementById('echart2'));
                    // 绘制图表
                    echart2.setOption({
                        title: {
                        },
                        tooltip: {
                            formatter: function (params, ticket, callback) {
                                // console.log(params, params.value)
                                return params.seriesName + '<br />' + xList1[params.value[0]] + '<br />' + yList1[params.value[1]] + '<br />';
                            },
                        },
                        visualMap: {
                            max: 20,
                            inRange: {
                                color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
                            }
                        },
                        xAxis3D: {
                            type: 'category',
                            data: xList1
                        },
                        yAxis3D: {
                            type: 'category',
                            data: yList1
                        },
                        zAxis3D: {
                            type: 'value'
                        },
                        grid3D: {
                            boxWidth: 200,
                            boxDepth: 80,
                            viewControl: {
                                // projection: 'orthographic'
                            },
                            light: {
                                main: {
                                    intensity: 1.2,
                                    shadow: true
                                },
                                ambient: {
                                    intensity: 0.3
                                }
                            }
                        },
                        series: series
                    });
                    // 表2 end --------------------------------------------------------

                }).catch((error) => {
                    console.log(error)
                })

            },

            /*
                加载 图标
            */
            loadEchart() {
                var vue = this;
                vue.$http.get('portfolio_sym_hour').then(res => {
                    // 表1 start --------------------------------------------------------
                    // console.log('Bear Vs Bull IC Markets__AUDUSD', res['Bear Vs Bull IC Markets__AUDUSD']);
                    var yList1 = [];
                    var xList1 = [];
                    res['Bear Vs Bull IC Markets__AUDUSD'].forEach(function(element, index) {
                        if (yList1.indexOf(element[0]) == -1) {
                            yList1.push(element[0])
                        }
                        if (xList1.indexOf(element[1]) == -1) {
                            xList1.push(element[1])
                        }
                    })
                    var dataList1 = []
                    res['Bear Vs Bull IC Markets__AUDUSD'].forEach(function(element, index) {
                        dataList1.push([ yList1.indexOf(element[0]), xList1.indexOf(element[1]), element[2] ])
                    })
                    // console.log(yList1, xList1, dataList1)
                    var echart1 = vue.$echarts.init(document.getElementById('echart1'));
                    // 绘制图表
                    echart1.setOption({
                        title: {
                            text: "Bear Vs Bull IC Markets__AUDUSD",
                        },
                        tooltip: {},
                        visualMap: {
                            max: 20,
                            inRange: {
                                color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
                            }
                        },
                        xAxis3D: {
                            type: 'category',
                            data: xList1
                        },
                        yAxis3D: {
                            type: 'category',
                            data: yList1
                        },
                        zAxis3D: {
                            type: 'value'
                        },
                        grid3D: {
                            boxWidth: 200,
                            boxDepth: 80,
                            viewControl: {
                                // projection: 'orthographic'
                            },
                            light: {
                                main: {
                                    intensity: 1.2,
                                    shadow: true
                                },
                                ambient: {
                                    intensity: 0.3
                                }
                            }
                        },
                        series: [{
                            type: 'bar3D',
                            data: dataList1.map(function (item) {
                                return {
                                    value: [item[1], item[0], item[2]],
                                }
                            }),
                            shading: 'lambert',

                            label: {
                                textStyle: {
                                    fontSize: 16,
                                    borderWidth: 1
                                }
                            },

                            emphasis: {
                                label: {
                                    textStyle: {
                                        fontSize: 20,
                                        color: '#900'
                                    }
                                },
                                itemStyle: {
                                    color: '#900'
                                }
                            }
                        }]
                    });
                    // 表1 end --------------------------------------------------------

                    // 表2 start --------------------------------------------------------
                    var yList2 = [];
                    var xList2 = [];
                    res['Bear Vs Bull IC Markets__EURUSD'].forEach(function(element, index) {
                        if (yList2.indexOf(element[0]) == -1) {
                            yList2.push(element[0])
                        }
                        if (xList2.indexOf(element[1]) == -1) {
                            xList2.push(element[1])
                        }
                    })
                    var dataList2 = []
                    res['Bear Vs Bull IC Markets__EURUSD'].forEach(function(element, index) {
                        dataList2.push([ yList2.indexOf(element[0]), xList2.indexOf(element[1]), element[2] ])
                    })
                    var echart2 = vue.$echarts.init(document.getElementById('echart2'));
                    // 绘制图表
                    echart2.setOption({
                        title: {
                            text: "Bear Vs Bull IC Markets__EURUSD",
                        },
                        tooltip: {},
                        visualMap: {
                            max: 20,
                            inRange: {
                                color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
                            }
                        },
                        xAxis3D: {
                            type: 'category',
                            data: xList2
                        },
                        yAxis3D: {
                            type: 'category',
                            data: yList2
                        },
                        zAxis3D: {
                            type: 'value'
                        },
                        grid3D: {
                            boxWidth: 200,
                            boxDepth: 80,
                            viewControl: {
                                // projection: 'orthographic'
                            },
                            light: {
                                main: {
                                    intensity: 1.2,
                                    shadow: true
                                },
                                ambient: {
                                    intensity: 0.3
                                }
                            }
                        },
                        series: [{
                            type: 'bar3D',
                            data: dataList2.map(function (item) {
                                return {
                                    value: [item[1], item[0], item[2]],
                                }
                            }),
                            shading: 'lambert',

                            label: {
                                textStyle: {
                                    fontSize: 16,
                                    borderWidth: 1
                                }
                            },

                            emphasis: {
                                label: {
                                    textStyle: {
                                        fontSize: 20,
                                        color: '#900'
                                    }
                                },
                                itemStyle: {
                                    color: '#900'
                                }
                            }
                        }]
                    });
                    // 表2 end --------------------------------------------------------

                    // 表3 start --------------------------------------------------------
                    var yList3 = [];
                    var xList3 = [];
                    res['Bear Vs Bull IC Markets__GBPUSD'].forEach(function(element, index) {
                        if (yList3.indexOf(element[0]) == -1) {
                            yList3.push(element[0])
                        }
                        if (xList3.indexOf(element[1]) == -1) {
                            xList3.push(element[1])
                        }
                    })
                    var dataList3 = []
                    res['Bear Vs Bull IC Markets__GBPUSD'].forEach(function(element, index) {
                        dataList3.push([ yList3.indexOf(element[0]), xList3.indexOf(element[1]), element[2] ])
                    })
                    var echart3 = vue.$echarts.init(document.getElementById('echart3'));
                    // 绘制图表
                    echart3.setOption({
                        title: {
                            text: "Bear Vs Bull IC Markets__GBPUSD",
                        },
                        tooltip: {},
                        visualMap: {
                            max: 20,
                            inRange: {
                                color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
                            }
                        },
                        xAxis3D: {
                            type: 'category',
                            data: xList3
                        },
                        yAxis3D: {
                            type: 'category',
                            data: yList3
                        },
                        zAxis3D: {
                            type: 'value'
                        },
                        grid3D: {
                            boxWidth: 200,
                            boxDepth: 80,
                            viewControl: {
                                // projection: 'orthographic'
                            },
                            light: {
                                main: {
                                    intensity: 1.2,
                                    shadow: true
                                },
                                ambient: {
                                    intensity: 0.3
                                }
                            }
                        },
                        series: [{
                            type: 'bar3D',
                            data: dataList3.map(function (item) {
                                return {
                                    value: [item[1], item[0], item[2]],
                                }
                            }),
                            shading: 'lambert',

                            label: {
                                textStyle: {
                                    fontSize: 16,
                                    borderWidth: 1
                                }
                            },

                            emphasis: {
                                label: {
                                    textStyle: {
                                        fontSize: 20,
                                        color: '#900'
                                    }
                                },
                                itemStyle: {
                                    color: '#900'
                                }
                            }
                        }]
                    });
                    // 表3 end --------------------------------------------------------

                    // 表4 start --------------------------------------------------------
                    var yList4 = [];
                    var xList4 = [];
                    res['Bear Vs Bull IC Markets__USDJPY'].forEach(function(element, index) {
                        if (yList4.indexOf(element[0]) == -1) {
                            yList4.push(element[0])
                        }
                        if (xList4.indexOf(element[1]) == -1) {
                            xList4.push(element[1])
                        }
                    })
                    var dataList4 = []
                    res['Bear Vs Bull IC Markets__USDJPY'].forEach(function(element, index) {
                        dataList4.push([ yList4.indexOf(element[0]), xList4.indexOf(element[1]), element[2] ])
                    })
                    var echart4 = vue.$echarts.init(document.getElementById('echart4'));
                    // 绘制图表
                    echart4.setOption({
                        title: {
                            text: "Bear Vs Bull IC Markets__USDJPY",
                        },
                        tooltip: {},
                        visualMap: {
                            max: 20,
                            inRange: {
                                color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
                            }
                        },
                        xAxis3D: {
                            type: 'category',
                            data: xList4
                        },
                        yAxis3D: {
                            type: 'category',
                            data: yList4
                        },
                        zAxis3D: {
                            type: 'value'
                        },
                        grid3D: {
                            boxWidth: 200,
                            boxDepth: 80,
                            viewControl: {
                                // projection: 'orthographic'
                            },
                            light: {
                                main: {
                                    intensity: 1.2,
                                    shadow: true
                                },
                                ambient: {
                                    intensity: 0.3
                                }
                            }
                        },
                        series: [{
                            type: 'bar3D',
                            data: dataList4.map(function (item) {
                                return {
                                    value: [item[1], item[0], item[2]],
                                }
                            }),
                            shading: 'lambert',

                            label: {
                                textStyle: {
                                    fontSize: 16,
                                    borderWidth: 1
                                }
                            },

                            emphasis: {
                                label: {
                                    textStyle: {
                                        fontSize: 20,
                                        color: '#900'
                                    }
                                },
                                itemStyle: {
                                    color: '#900'
                                }
                            }
                        }]
                    });
                    // 表4 end --------------------------------------------------------

                }).catch((error) => {
                    console.log(error)
                })

            }
        }
    }
</script>
<style scoped lang="less">
    .label {
        font-weight: bold;
        line-height: 36px;
    }
    .ivu-form-item {
        margin-bottom: 0;
    }
</style>


