<template>
    <div>
        <Row>
            <Col span="12">
                <div id="echart1" :style="{width: '100%', height: '500px'}"></div>
            </Col>
            <Col span="12">
                <div id="echart2" :style="{width: '100%', height: '500px'}"></div>
            </Col>
        </Row>

    </div>
</template>
<script>
    export default {
        name: 'home',
        components: {
        },
        props: {
        },
        data () {
            return {
                xList1: [],
                yList1: [],
                series1: [],
                
                filter: {

                },
                form: {

                },
                formList: [],
                rules: {
                },

                tree: [],
                columns: [
                    
                ],
                list: [],
                page: this.$page(),
            }
        },
        watch: {
        },
        beforeCreate () {
        },
        created () {
        },
        mounted() {
            // 初始化
            this.init();
        },
        methods: {
            /*
                初始化
            */
            init() {
                this.getEchartData1_1();
                this.getEchartData1_2();
                this.loadEchart2();
            },

            loadEchart1() {

                var vue = this;
                if (this.series1.length == 2) {

                    var echart1 = vue.$echarts.init(document.getElementById('echart1'));
                    // 绘制图表
                    echart1.setOption({
                        title: {
                            // text: "Bear Vs Bull IC Markets__AUDUSD",
                        },
                        tooltip: {
                            formatter: function (params, ticket, callback) {
                                // console.log(params, params.value)
                                return 'Strategy：' + vue.xList1[params.value[0]] +
                                        '<br />' + 'Currency：' + vue.yList1[params.value[1]] +
                                        '<br />' + ( params.value[2] > 0 ? ('Avg Gain (pip)：' + params.value[2]) : ('Max DD (pip)：' + params.value[2]) );
                            },

                        },
                        visualMap: {
                            // max: 20,
                            inRange: {
                                color: [ '#4575b4', '#4575b4', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#313695', '#a50026' ]
                            }
                        },
                        xAxis3D: {
                            name: 'Strategy',
                            type: 'category',
                            data: vue.xList1
                        },
                        yAxis3D: {
                            name: 'Currency',
                            type: 'category',
                            data: vue.yList1
                        },
                        zAxis3D: {
                            name: 'Avg Gain & Max DD (pip)',
                            type: 'value'
                        },
                        grid3D: {
                            // boxWidth: 200,
                            // boxDepth: 80,
                            viewControl: {
                                // projection: 'orthographic'
                            },
                            light: {
                                main: {
                                    intensity: 1.2,
                                    shadow: false
                                },
                                ambient: {
                                    intensity: 0.3
                                }
                            }
                        },
                        series: vue.series1
                    });
                }
            },

            /*
                加载 图表
            */
            getEchartData1_1() {
                var vue = this;

                vue.$http.get('portfolio_ea_sym_gain').then(res => {

                    // 表1 start --------------------------------------------------------
                    vue.yList1 = [];
                    var y = 0;
                    var dataList1 = []
                    for(var key in res) {
                        vue.yList1.push(key)
                        var x = 0;
                        vue.xList1 = [];
                        for (var key1 in res[key]) {
                            vue.xList1.push(key1)
                            dataList1.push([y, x, res[key][key1]])
                            x++;
                        }
                        y++;
                    }
                    vue.series1.push({
                        name: 'portfolio_ea_sym_gain',
                        type: 'bar3D',
                        stack: 'stack',
                        data: dataList1.map(function (item) {
                            return {
                                value: [item[1], item[0], item[2]],
                            }
                        }),
                        shading: 'lambert',
                        label: {
                            textStyle: {
                                fontSize: 16,
                                borderWidth: 1
                            }
                        },
                        emphasis: {
                            label: {
                                textStyle: {
                                    fontSize: 20,
                                    color: '#900'
                                }
                            },
                            itemStyle: {
                                color: '#900'
                            }
                        }
                    })
                    vue.loadEchart1();
                    // 表1 end --------------------------------------------------------
                }).catch((error) => {
                    console.log(error)
                })

            },
            getEchartData1_2() {
                var vue = this;

                vue.$http.get('portfolio_ea_sym_dd').then(res => {

                    // 表1 第二个接口 start --------------------------------------------------------
                    var y = 0;
                    var dataList2 = []
                    for(var key in res) {
                        var x = 0;
                        for (var key1 in res[key]) {
                            dataList2.push([y, x, res[key][key1]])
                            x++;
                        }
                        y++;
                    }

                    vue.series1.push({
                        name: 'portfolio_ea_sym_dd',
                        type: 'bar3D',
                        stack: 'stack',
                        data: dataList2.map(function (item) {
                            return {
                                value: [item[1], item[0], item[2]],
                            }
                        }),
                        shading: 'lambert',
                        label: {
                            textStyle: {
                                fontSize: 16,
                                borderWidth: 1
                            }
                        },
                        emphasis: {
                            label: {
                                textStyle: {
                                    fontSize: 20,
                                    color: '#900'
                                }
                            },
                            itemStyle: {
                                color: '#900'
                            }
                        }
                    })
                    vue.loadEchart1();
                    // 表1 第二个接口 end --------------------------------------------------------

                }).catch((error) => {
                    console.log(error)
                })

            },
            loadEchart2() {
                var vue = this;
                vue.$http.get('portfolio_sym_hour').then(res => {
                    // 表2 start --------------------------------------------------------
                    var yList1 = [];
                    var xList1 = [];
                    var series = []
                    var i = 0;
                    for (var key in res) {
                        if (i == 0) {
                            res[key].forEach(function(element, index) {
                                if (yList1.indexOf(element[0]) == -1) {
                                    yList1.push(element[0])
                                }
                                if (xList1.indexOf(element[1]) == -1) {
                                    xList1.push(element[1])
                                }
                            })
                        }
                        var dataList1 = []
                        res[key].forEach(function(element, index) {
                            dataList1.push([ yList1.indexOf(element[0]), xList1.indexOf(element[1]), element[2] ])
                        })
                        console.log(dataList1)
                        series.push({
                            name: key,
                            type: 'bar3D',
                            stack: 'stack',
                            data: dataList1.map(function (item) {
                                return {
                                    value: [item[1], item[0], item[2]],
                                }
                            }),
                            shading: 'lambert',

                            label: {
                                textStyle: {
                                    fontSize: 16,
                                    borderWidth: 1
                                }
                            },

                            emphasis: {
                                label: {
                                    textStyle: {
                                        fontSize: 20,
                                        color: '#900'
                                    }
                                },
                                itemStyle: {
                                    color: '#900'
                                }
                            }
                        })
                    }
                    var echart2 = vue.$echarts.init(document.getElementById('echart2'));
                    // 绘制图表
                    echart2.setOption({
                        title: {
                        },
                        tooltip: {
                            formatter: function (params, ticket, callback) {
                                // console.log(params, params.value)
                                return  params.seriesName +
                                        '<br />' + 'Hour (UTC)：' + xList1[params.value[0]] +
                                        '<br />' + 'Currency：' + yList1[params.value[1]] +
                                        '<br />' + 'Trades：' + params.value[2];
                            },
                        },
                        visualMap: {
                            max: 20,
                            inRange: {
                                color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
                            }
                        },
                        xAxis3D: {
                            name: 'Hour (UTC)',
                            type: 'category',
                            data: xList1
                        },
                        yAxis3D: {
                            name: 'Currency',
                            type: 'category',
                            data: yList1
                        },
                        zAxis3D: {
                            name: 'Trades',
                            type: 'value'
                        },
                        grid3D: {
                            boxWidth: 200,
                            boxDepth: 80,
                            viewControl: {
                                // projection: 'orthographic'
                            },
                            light: {
                                main: {
                                    intensity: 1.2,
                                    shadow: true
                                },
                                ambient: {
                                    intensity: 0.3
                                }
                            }
                        },
                        series: series
                    });
                    // 表2 end --------------------------------------------------------

                }).catch((error) => {
                    console.log(error)
                })

            },
        }
    }
</script>
<style scoped lang="less">
    .label {
        font-weight: bold;
        line-height: 36px;
    }
    .ivu-form-item {
        margin-bottom: 0;
    }
</style>


