<template>
    <div>
        <Form :label-width="160" label-colon>
            <Row>
                <Col span="6" v-for="item in formList":key="item.key">
                    <FormItem :label="item.key">
                        <label v-text="item.value" class="label" ></label>
                    </FormItem>
                </Col>
            </Row>
        </Form>

        <div id="echart1" :style="{width: '100%', height: '500px', marginTop: '20px'}"></div>
    </div>
</template>
<script>
import { random } from './../libs/common'

    export default {
        name: 'home',
        components: {
        },
        props: {
        },
        data () {
            return {
                
                filter: {

                },
                form: {

                },
                formList: [],
                rules: {
                },

                tree: [],
                columns: [
                    
                ],
                list: [],
                page: this.$page(),
            }
        },
        watch: {
        },
        beforeCreate () {
        },
        created () {
        },
        mounted() {
            // 初始化
            this.init();
        },
        methods: {
            /*
                初始化
            */
            init() {
                var vue = this;
                // 获取回测表格数据
                this.$http.get('portfolio_backtest_stats').then(res => {
                    // console.log('回测表格数据', res)
                    this.form = res;
                    for (var key in res) {
                        vue.formList.push({
                            key: key,
                            value: res[key]
                        })
                    }
                }).catch((error) => {
                    console.log(error)
                })

                // 业务需要 终止
                return false;

                // 获取回测表格数据
                this.$http.get('portfolio_backtest_report', { params: { version: random(16) }, responseType: 'blob' }).then(res => {

                    var blob = new Blob([res.data]);

                    if (navigator.userAgent.indexOf("Edge") != -1) { // Edge的场合
                        navigator.msSaveBlob(blob, 'backtest_report');
                    } else if ('download' in document.createElement('a')) { // 非IE下载
                        let a = document.createElement('a')
                        a.download = 'backtest_report.html'
                        a.style.display = 'none'
                        a.href = URL.createObjectURL(blob)
                        document.body.appendChild(a)
                        a.click()
                        URL.revokeObjectURL(a.href) // 释放URL 对象
                        document.body.removeChild(a)
                    } else { // IE10+下载
                        navigator.msSaveBlob(blob, 'backtest_report');
                    }


                }).catch((error) => {
                    console.log(error)
                })


                // 获取回测表格数据
                this.$http.get('portfolio_cumsum_dd').then(res => {
                    console.log('回测图表数据')
                    var series = [];
                    var legendData = [];
                    var xAxisData = [];
                    for (var key in res) {
                        legendData.push(key)
                        if (key == 'Portfolio') {
                            var data = [];
                            for(var key1 in res[key]) {
                                // 生成 横坐标
                                xAxisData.push(key)
                                data.push(res[key][key1])
                            }
                            series.push({
                                name: key,
                                type: 'line',
                                data: data,
                                lineStyle: {
                                  width: 5.5
                                }
                            })
                        } else if (key == 'Max_DD') {
                            var data = [];
                            for(var key2 in res[key]) {
                                data.push(res[key][key2])
                            }
                            series.push({
                                name: key,
                                type: 'bar',
                                data: data
                            })
                        } else {
                            var data = [];
                            for(var key3 in res[key]) {
                                data.push(res[key][key3])
                            }
                            series.push({
                                name: key,
                                type: 'line',
                                data: data
                            })
                        }
                    }

                    var echart1 = vue.$echarts.init(document.getElementById('echart1'));
                    echart1.setOption({

                        title: {
                            text: '回测图表'
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: legendData
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        toolbox: {
                            feature: {
                                saveAsImage: {}
                            }
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap: false,
                            data: xAxisData
                        },
                        yAxis: {
                            type: 'value'
                        },
                        series: series
                    })


                }).catch((error) => {
                    console.log(error)
                })

            }
        }
    }
</script>
<style scoped lang="less">
    .label {
        font-weight: bold;
        line-height: 36px;
    }
    .ivu-form-item {
        margin-bottom: 0;
    }
</style>


