<template>
    <div class="home">
        {{ msg1 }}
        {{ msg2 }}
    </div>
</template>
<script>
    export default {
        name: 'home',
        components: {
        },
        props: {
        },
        data () {
            return {
                msg1: '',
                msg2: '',
                
                filter: {

                },
                form: {

                },
                rules: {
                },

                tree: [],
                columns: [
                    
                ],
                list: [],
                page: this.$page(),
            }
        },
        watch: {
        },
        beforeCreate () {
        },
        created () {
        },
        mounted() {
            // 初始化
            this.init();
        },
        methods: {
            /*
                初始化
            */
            init() {
                // // test 请求
                // this.$http.get('test').then(res => {
                //     console.log(res);
                //     this.msg1 = res.message;
                // }).catch((error) => {
                //     console.log(error)
                // })
                // // post 请求
                // this.$http.post('test', { qwe: 111 }).then(res => {
                //     console.log(res);
                //     this.msg2 = res.message;
                // }).catch((error) => {
                //     console.log(error)
                // })
                
            }
        }
    }
</script>
<style scoped lang="less">
    .home {
    }
</style>


