<template>
    <div class="index">
        <Row type="flex" justify="center" align="middle">
            <Col span="24">

                <Menu mode="horizontal" theme="light" :active-name="activeName" @on-select="toPage">
                    <h3 class="title">
                        <!-- <router-link :to="{ name: 'home' }">主页</router-link> -->
                    </h3>
                    <div class="menu">
                        <MenuItem name="0001">
                            <Icon type="ios-paper" />
                            Transactions
                        </MenuItem>
                        <MenuItem name="0002">
                            <Icon type="ios-paper" />
                            My Portfolio
                        </MenuItem>
                        <!-- <Submenu name="performanceView">
                            <template slot="title">
                                菜单2
                            </template>
                            <MenuItem name="1">菜单2 - 1</MenuItem>
                            <MenuItem name="2">菜单2 - 2</MenuItem>
                            <MenuItem name="3">菜单2 - 3</MenuItem>
                        </Submenu> -->
                        <Button type="text" class="log-off" @click="logoff">
                            <Icon type="md-log-out" />
                            Logout
                        </Button>
                    </div>
                </Menu>
            </Col>
        </Row>
        <div class="main">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'index',
        components: {
        },
        props: {
        },
        data () {
            return {
                activeName: '',
                filter: {

                },
                form: {

                },
                rules: {
                },

                tree: [],
                columns: [
                    
                ],
                list: [],
                page: this.$page(),
            }
        },
        watch: {
            // 监听路由变化 高亮tab选择
            $route(to, from) {
                this.activeName = to.name;
            }

        },
        beforeCreate () {
            // 判断登录状态
            if (this.$cookies.get('loginFlag') == 'true') {
                // 登录态 什么都不做
            } else {
                this.$router.push({ name: 'login' });
            }

        },
        created () {
        },
        mounted() {
            // 初始化
            this.init();
        },
        methods: {
            /*
                初始化
            */
            init() {
                // 菜单高亮
                this.activeName = this.$route.name                
            },

            /*
                选择后跳转页面
            */
            toPage(name) {
                // 调试用 使用name跳转
                this.$router.push({ name: name });
            },

            /*
                登出
            */
            logoff() {
                this.$http.get('logout').then(res => {
                    if (res.success == 1) {
                    } else {
                        this.$Message.error('登出失败！');
                    }
                }).catch((error) => {
                    console.log(error)
                })
                this.$router.push({ name: 'login' });
            },
        }
    }
</script>
<style lang="less">
    .index{
        .title {
            position: absolute;
            margin-left: 30px;
        }
        .menu {
            margin-left: 250px;
        }
        .main {
            margin: 20px;
        }
        .log-off {
            float: right;
            margin-top: 16px;
            margin-right: 30px;
        }
    }

    .ivu-table-cell {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
</style>