<template>
    <div class="login">
        <Form ref="form" :model="form" :rules="rules" class="form">
            <FormItem prop="user">
                <Input type="text" v-model="form.user" placeholder="用户名">
                    <Icon type="ios-person-outline" slot="prepend"></Icon>
                </Input>
            </FormItem>
            <FormItem prop="password">
                <Input type="password" v-model="form.password" placeholder="密码">
                    <Icon type="ios-lock-outline" slot="prepend"></Icon>
                </Input>
            </FormItem>
            <FormItem>
                <Button type="primary" @click="handleSubmit">Login</Button>
            </FormItem>
        </Form>
    </div>
</template>
<script>
    export default {
        name: 'login',
        components: {
        },
        props: {
        },
        data () {
            return {
                
                filter: {

                },
                form: {
                    user: '',
                    password: ''
                },
                rules: {
                    user: [
                        { required: true, message: '请填写用户名', trigger: 'blur' }
                    ],
                    password: [
                        { required: true, message: '请填写密码', trigger: 'blur' },
                        // { type: 'string', min: 6, message: 'The password length cannot be less than 6 bits', trigger: 'blur' }
                    ]

                },
                tree: [],
                columns: [
                    
                ],
                list: [],
                page: this.$page(),
            }
        },
        watch: {
        },
        beforeCreate () {
        },
        created () {
        },
        mounted() {
            // 初始化
            this.init();
        },
        methods: {
            /*
                初始化
            */
            init() {
                // 清空登录信息
                this.$cookies.remove('loginFlag', { path: '' });
                this.$cookies.remove('userName', { path: '' });

            },
            /*
                登录
            */
            handleSubmit() {
                var vue = this;
                this.$refs.form.validate((valid) => {
                    if (valid) {
                        let formData = new FormData()
                        formData.append('username', this.form.user);
                        formData.append('password', this.form.password);

                        // 请求登录接口
                        this.$http.post('login', formData).then(res => {
                            if (res.status == 1) {
                                this.$Message.success('登录成功!');
                                // 存登录信息
                                this.$cookies.set('loginFlag', true, { expires: 365, path: '' })
                                // 存登录名称
                                this.$cookies.set('userName', this.form.user, { expires: 365, path: '' })
                                // 跳转 home
                                this.$router.push({ name: '0001' });
                            } else {
                                // 登录失败
                                this.$Message.error(res.reason);
                            }

                        }).catch((error) => {
                            console.log(error)
                        })

                    } else {
                        this.$Message.error('请填写用户名密码');
                    }
                })
            }
        }
    }
</script>
<style scoped lang="less">
    .login {
        .form {
            margin: 30vh auto 0 auto;
            text-align: center;
            width: 300px;
        }
    }
</style>


